



.navbar {
    background-color: aliceblue !important;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 70px;
    display: flex; /* Add flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out logo and toggle */
}

.navbar-brand img {
    height: 40px; /* Consistent height */
    width: auto;
    position: relative;
}

.nav-item {

    color:black !important; 
    font-size: 20px !important;
    margin-right: 2rem !important;
    font-weight: 600; 
    transition: color 0.3s ease;
    position: relative; 

}

.nav-item:hover {
    color: #ffd700; 
}

.nav-item.active {
    color: #ffc107; 
    font-weight: 700; 
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #ffc107; 
    transition: width 0.3s ease, left 0.3s ease; 
}

.nav-item:hover::after {
    width: 100%; 
    left: 0; 
}

.nav-item.active::after {
    width: 100%; 
    left: 0; 
}

.custom-toggle {
    border: none;
    background-color: white !important;
   margin-top: -7px;
    height: 50px !important; /* Match the logo height */
    display: flex;
    align-items: center;
     /* Center close icon vertically */
}

.page-content {
    padding-top: 80px; 
} 
@media (max-width: 768px) {
    .navbar {
        min-height: 60px; /* Adjust for smaller screens */
    }
    .navbar-brand img {
        height: 25px !important; /* Slightly smaller for mobile */
        margin-top: 1rem !important; /* Remove extra margin */
    }
}