body, html {
    overflow-x: hidden;
}
.Banner, .heading, #vector {
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 768px) {
    #vector {
        width: 100%;
        margin-left: 0;
    }

    .heading {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }

    #banner-p {
        font-size: 14px;
        width: 90%;
    }
}
#banner-p, .heading, .scroll-container {
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't cause overflow */
}

.small-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Use wrap and ensure spacing */
}
